<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindMyFlatmates</title>
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/main.css" rel="stylesheet">
    <script src="./static/js/jquery-1.10.2.js"></script>
    <script src="./static/js/bootstrap.js"></script>
    <script src="./static/js/jquery.form.js"></script>
    <script src="./static/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $.ajaxSetup({cache: false});
        
        $("#about-form").ajaxForm();
        $("#accom-form").ajaxForm();
        $.validator.addMethod('fburl', function(value) {
          var re = /^[A-Za-z0-9\..]+$/
          return re.test(value);
        }, 'Not a valid Facebook address');
        $.validator.addMethod('twurl', function(value) {
          var re = /^[A-Za-z0-9_]{1,15}$/
          return re.test(value);
        }, 'Not a valid Twitter handle.');
        $.validator.addMethod('roomno', function(value) {
          var re = /^[A-Za-z]{1,3}\/[A-Za-z0-9]+\/[0-9]+$/
          return re.test(value);
        }, 'Not a valid room number');
          $("#about-form").validate({
            submitHandler: function() {
              console.log('derp');
              $("#about-form").ajaxSubmit(function() {
                displayAlert('#about-edit-modal-body', 'alert-success', 'Saved!');
                setTimeout(function(){
                  location.reload(forceGet=true);
                }, 1000);
              });
            },
            invalidHandler: function() {
              displayAlert('#about-edit-modal-body', 'alert-danger', 'Derp!');
            },
            errorPlacement: function(error, element) {
              error.appendTo(element.closest(".form-group"))
            },
            rules: {
              firstname: {
                required: true,
                maxlength: 35,
              },
              lastname: {
                required: true,
                maxlength: 35,
              },
              subject: {
                maxlength: 30
              },
              facebookurl: {
                fburl: true,
              },
              twitterurl: {
                twurl: true,
              },
              biography: {
                maxlength: 1000
              },
            },
          });
        
        $("#btn-about-save").click(function () {
          $("#about-form").submit();
        });
        

        $("#accom-form").validate({
          submitHandler: function() {
            $("#accom-form").ajaxSubmit(function() {
              displayAlert('#accom-edit-modal-body', 'alert-success', 'Saved');
              setTimeout(function(){
                location.reload(forceGet=true);
              }, 1000);
            });
          },
          invalidHandler: function() {
            displayAlert('#accom-edit-modal-body', 'alert-danger', 'Derp!');
          },
          errorPlacement: function(error, element) {
            error.appendTo(element.closest(".form-group"))
          },
          rules: {
            roomcode: {
              required: true,
              roomno: true,
              remote: '/checkbuilding',
            },
          },
          messages: {
            //roomcode: "Not a valid room number :("
          },
        });
        
        $("#btn-accom-save").click(function () {
            $("#accom-form").submit();
        });

        $("#roomcode").change(function() {
          $.getJSON('/buildings', {roomcode:$("#roomcode").val()}, function(data) {
            console.log(data);
            if((data['response']['buildingtype'] == 'flats' || data['response']['buildingtype'] == 'house') && data['response']['numunits'] > 1) {
              $("#roomcode").parent().after('<div class="form-group"><label for="unitnumber">Flat or house Number</label><select name="unitnumber" id="unitnumber" class="form-control"><option value="" disabled selected>Select a flat or house</option></select></div>');
              for(var i=1;i<data.response.numunits+1;i++) {
                $("#unitnumber").append("<option value=\"" + i +"\">" + i +"</option>");
              }
            }
            else {
              $("#unitnumber").parent().remove();
            }
          });
        });

      });
      function displayAlert(parent, type, content) {
        $(parent).prepend(
          "<div class=\"alert "+ type + " fade in\">"
          + content
          + "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">x</button></div>")
      };
    </script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Flatmates</h3>
            </div>
            <div class="panel-body">
              {% if flatmates %}
                <ul>
                {% for f in flatmates %}
                  <li>{% if f.roomnumber %}Room {{ escape(str(f.roomnumber)) }} - {% end %}{{ escape(f.firstname) }} {{ escape(f.lastname) }}
                    <ul>
                      {% if f.facebookurl %}<li><a href="http://facebook.com/{{ escape(f.facebookurl) }}">Facebook</a></li>{% end %}
                      {% if f.twitterurl %}<li><a href="http://twitter.com/{{ escape(f.twitterurl) }}">Twitter</a></li>{% end %}
                      {% if f.biography %}<li>{{ escape(f.biography) }}</li>{% end %}
                    </ul>
                  </li>
                {% end %}
                </ul>
              {% elif not user['roomcode'] %}
                <p>Hi there! Let's get started. Add your accomodation details by clicking on "Edit My Accommodation", and tell us a bit about yourself by clicking on "Edit About Me".</p>
              {% else %}
                <p>Woo, you're the first! Relax. As soon as we find someone who's in your flat we'll drop you an email.</p>
              {% end %}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Hi {{ user['firstname'] }}!</h3>
            </div>
            <div class="panel-body">
              <table>
                {% if user['roomcode'] %}
                  <tr><td>Room number: </td><td>{{ escape(user['roomcode']) }}</td>
                {% end %}
                {% if user['unitnumber'] %}
                  <tr><td>Flat/house: </td><td>{{ escape(str(user['unitnumber'])) }}</td>
                {% end %}
              </table>
            </div>
            <div class="panel-footer">
              <a data-toggle="modal" href="#about-edit-modal" type="button" id="btn-about-edit" class="btn btn-primary btn-xs">Edit About Me</a>
              <a data-toggle="modal" href="#accom-edit-modal" type="button" id="btn-accom-edit" class="btn btn-primary btn-xs">Edit My Accommodation</a>
              <a href="./logout" type="button" class="btn btn-danger btn-xs">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Hidden stuff -->
    <div class="modal fade" id="about-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">About You</h4>
          </div>
          <div id="about-edit-modal-body" class="modal-body">
            <form id="about-form" action="about" method="post">
              <div class="form-group">
                <div class="form-group">
                  <label for="firstname" class="control-label">First Name</label>
                  <input name="firstname" id="firstname" class="form-control" type="text" placeholder="Firstname" {% if user['firstname'] %}value="{{ escape(user['firstname']) }}"{% end %}>
                </div>
                <div class="form-group">
                  <label for="lastname" class="control-label">Last Name</label>
                  <input name="lastname" id="lastname" class="form-control" type="text" placeholder="Lastname" {% if user['lastname'] %}value="{{ escape(user['lastname']) }}"{% end %}>
                </div>
              </div>
              <div class="form-group">
                <label for="college" class="control-label">College</label>
                <select name="college" id="college" class="form-control">
                  <option value="" disabled {% if not user["collegeid"] %}selected{% end %}>Select a college</option>
                  {% for c in colleges %}
                    <option value="{{ colleges[c]['collegename'] }}" {% if colleges[c]['collegeid'] == user['collegeid'] %}selected="selected"{% end %}>{{ escape(colleges[c]['collegename']) }}</option>
                  {% end %}
                </select>
              </div>
              <div class="form-group">
                <label for="subject" class="control-label">What are you studying?</label>
                <input name="subject" id="subject" class="form-control" type="text" {% if user['subject'] %}value="{{ escape(user['subject']) }}"{% end %}>
              </div>
              <div class="form-group">
                <label for="facebookurl" class="control-label">Facebook URL</label>
                <div class="input-group">
                  <span class="input-group-addon">facebook.com/</span>
                  <input name="facebookurl" id="facebookurl" class="form-control" type="text" {% if user['facebookurl'] %}value="{{ escape(user['facebookurl']) }}"{% end %}>
                </div>
              </div>
              <div class="form-group">
                <label for="twitterurl" class="control-label">Twitter handle</label>
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input name="twitterurl" id="twitterurl" class="form-control" type="text" {% if user['twitterurl'] %}value="{{ escape(user['twitterurl']) }}"{% end %}>
                </div>
              </div>
              <div class="form-group">
                <label for="biography" class="control-label">Introduce yourself</label>
                <textarea name="biography" id="biography" class="form-control" rows="4" placeholder="What's your favourite kind of tree? Do you photograph roundabouts in your spare time? Know any funny jokes about the French? Maybe you are French. That's the point of this box, I don't know">{% if user['biography'] %}{{ escape(user['biography']) }}{% end %}</textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btn-about-save" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="modal fade" id="accom-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Your Accommodation</h4>
          </div>
          <div id="accom-edit-modal-body" class="modal-body">
            <form id="accom-form" action="accom" method="post">
              <div class="form-group">
                <label for="roomcode">Room Number</label>
                <input name="roomcode" id="roomcode" class="form-control" type="text" placeholder="XXX/X/XXX" {% if user['roomcode'] %}value="{{ user['roomcode'] }}"{% end %}>
              </div>
              {% if building and ((building.buildingtype == 'flat' or building.buildingtype == 'house') and building.numunits > 1) %}
              <div class="form-group">
                <label for="unitnumber">Flat Number</label>
                <select name="unitnumber" id="unitnumber" class="form-control">
                <option value="" disabled {% if not user["unitnumber"] %}selected{% end %}>Select a flat/house</option>
                {% for x in range(building.numunits)%}
                  <option value="{{ x+1 }}" {% if user["unitnumber"] == x+1 %} selected {% end %}>{{ x+1 }}</option>
                {% end %}
                </select>
              </div>
              {% end %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btn-accom-save" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
