<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindMyFlatmates</title>
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/main.css" rel="stylesheet">
    <script src="./static/js/jquery-1.10.2.js"></script>
    <script src="./static/js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $.ajaxSetup({cache: false});
        
        function displayAlert(type, content) {
          $(".container").prepend(
            "<div class=\"alert "+ type + " fade in\">"
            + content
            + "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">x</button></div>")
        };

        $("#btn-notifications-settings").click(function() {
          $(".view-notifications-main").hide();
          $(".view-notifications-settings").show();
        });

        $("#btn-notifications-save").click(function() {
          var save = $.post('/pushover', { userkey: $("#apikey").val()}, function(data) {
            console.log(data);
            displayAlert("alert-success", "Saved!");
            $(".view-notifications-settings").hide();
            $(".view-notifications-main").show();
          })
          .fail(displayAlert("alert-danger", "Uh-oh!"));
        });

        $("#btn-about-edit").click(function() {
          
        });
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Flatmates</h3>
            </div>
            <div class="panel-body">
              {% if flatmates %}
              <h2>Your Flatmates</h2>
              {% for flatmate in flatmates %}
              <li>{{ escape(flatmate.name) }}</li>
              {% end %}
              {% else %}
              <h2>You're the first! :D share this site and let's find us some flatmates!<h2>
              {% end %}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">About You</h3>
            </div>
            <div class="panel-body">
              <strong>Tell us a bit about yourself.</strong>
            </div>
            <div class="panel-footer">
              <a data-toggle="modal" href="#about-edit-modal" type="button" id="btn-about-edit" class="btn btn-primary btn-xs">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Messages</h3>
            </div>
            <div class="panel-body">
              <strong>Derp</strong>
            </div>
            <div class="panel-footer">
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Hidden stuff -->
    <div class="modal fade" id="about-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">About You</h4>
          </div>
          <div class="modal-body">
            <h5>Fill in as much or as little as you want. But this is the whole point of doing this after all ;)</h5>
            <form>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input id="firstname" class="form-control" type="text">
                <label for="lastname">Last Name</label>
                <input id="lastname" class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="facebook">Facebook URL</label>
                <div class="input-group">
                  <span class="input-group-addon">facebook.com/</span>
                  <input id="facebook" class="form-control" type="text">
                </div>
              </div>
              <div class="form-group">
                <label for="about">Introduce yourself</label>
                <textarea id="about" class="form-control" rows="4" placeholder="What's your favourite kind of tree? Do you photograph roundabouts in your spare time? Know any funny jokes about the French? Maybe you are French. That's the point of this box, I don't know"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
